.shop {
    display: flex;
    flex-wrap: wrap;
}

.shop .left {
    width: 30%;
    background-color: yellow;
}

.shop .right {
    width: 70%;
    position: relative;
}

.shop .bigText {
    position: absolute;
    top: 20%;
    right: 0;
    background-color: black;
    padding-right: 25%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.shop h2 {
    margin: 0;
    font-size: 30px;
    color: white;
}

@media only screen and (max-width: 450px){
    .shop .left {
        width: 100%;
    }
    .shop .right {
        width: 100%;
    }
    .shop .bigText {
        top: -125px;
    }
}