.home {
    position: relative;
}

.bigText {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: black;
    padding-right: 20%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

h2 {
    /* color: white; */
    margin: 0;
    font-size: 30px;
}

.home img {
    display: block;
}