.home {
    position: relative;
}

.home .bigText {
    position: absolute;
    top: 50%;
    right: 0;
    background-color: black;
    padding-right: 20%;
    padding-left: 3%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.home h2 {
    color: white;
    margin: 0;
    font-size: 30px;
}

.home h2 span {
    color: yellow;
}

.home img {
    display: block;
}