.active {
    background-color: rgba(0, 0, 0, 0.1);
}

nav .logo {
    height: 100%;
    padding: 5px 1px;
}

nav {
    display: flex;
    height: 60px;
    justify-content: space-between;
}

nav form {
    display: flex;
}

nav ul {
    display: flex;
    list-style: none;
    align-self: center;
}

nav ul li:not(:first-child) {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 20px;
}

nav form {
    align-self: center;
    height: 40%;
}

nav form input {
    background-color: yellow;
    border: 1px solid black;
    height: 100%;
}

nav form button {
    background-color: black;
    color: white;
    border: none;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
}

nav .input-field {
    display: flex;
}

@media only screen and (max-width: 900px){
    nav ul {
        display: none;
    }
    nav .input-field {
        display: none;
    }
    nav {
        justify-content: center;
    }
}